.stream-player-countdown {
  //height: 100%;
}

.stream-player-countdown__overlay {
/*  position: absolute;
  left: 0;
  top: 20%;
  width: 65%;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: rgba(6, 173, 110, 1);*/
}

.notaghack {
  display: inline;
}
